body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #333;
}

header {
  padding-top: 56px;
}

section {
  padding: 2em 5em;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #154e4d;
  color: white;
  padding: 10px 0;
  z-index: 10;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
}
nav a:hover {
  text-decoration: underline;
}
nav .nav-toggle {
  display: none;
  cursor: pointer;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0 10px;
}

button {
  background-color: #154e4d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: 600;
}
button:hover {
  background-color: #556b2f;
}

footer {
  background-color: #154e4d;
  color: white;
  padding: 1em;
  text-align: center;
}

#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#about .about-text {
  flex: 1;
  min-width: 250px;
}

img {
  width: 100%; /* Make it responsive */
  max-width: 800px; /* Prevents it from getting too large */
  height: auto; /* Maintains aspect ratio */
}

#myImage {
  width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #154e4d;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px 0;
  }
  nav .nav-toggle {
    display: block;
    color: white;
    font-size: 1.5em;
  }
  nav ul.active {
    display: flex;
  }

  #about {
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 1em 2em;
  }
}

@media (max-width: 480px) {
  section {
    padding: 1em;
  }
  button {
    padding: 8px 16px;
  }
}
